.content_page.school_page
  %nav.school_listing
    %ul
      %li.title Alle skolene i
      %li= link_to "Norge", "/skolene"
      %li= link_to @county.name, "/skolene/#{@county.link_name}"
      %li= link_to "#{@municipality.name} kommune", "/skolene/#{@county.link_name}/#{@municipality.link_name}"
  %section
    %h1.accented
      = "<strong>#{@school.name}</strong> i "
      = link_to "#{@municipality.name} kommune", "/skolene/#{@county.link_name}/#{@municipality.link_name}"
    .address
      = @school.address
    #school_map_canvas

= partial :map, :locals => {:map_options => @map_options} if @has_position