.content_page.school_listing_page
  %nav.school_listing
    %ul
      %li.title Alle skolene i Norge
  %section
    %h1.accented= "Skolene i <strong>Norge</strong>"
    %dl
      - @counties.each do |county| 
        %dt= link_to county.name, "/skolene/#{county.link_name}"
        %dd
          %ul
            - county.municipalities.order_by(:name.asc).each do |municipality|
              %li= link_to municipality.name, "/skolene/#{municipality.county.link_name}/#{municipality.link_name}"